ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}
  
a {
    display: block;
    padding: 18px;
    background-color: #a23227;
    text-transform: none;
    color: white;
}

.nav {
    background-color:#a23227;
    height: 52px;
    position:absolute;
    top:0;
    bottom: 0;left: 0;right: 0;
    display:flex;
    z-index: 10;
}