.wishlist h1 {
    font-size: 22px;
}

.wishlist h3 {
    font-size: 15px;
}

.wishlist h4 {
    font-size: 12px;
}

.wishlist ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    max-height: 600px;
    overflow-y: scroll;
}

.wishlist li {
    margin-top: 20px;
    margin-bottom: 20px;
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #000000;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}